.conteiner {
    width: 1140px;
    /*Сколько страница занимает места в писилях*/
    margin: 0 auto;
    /*Выравнивание страницы*/
    /*margin: 10px 20px 30px 40px; /*Можно задать отступ в ручную: сверху спарва снизу слева*/
}

header {
    text-align: center;
}

.main_content {
    /*Центровка блока относительно размера картинки*/
    width: 450px;
    margin: 0 auto;
}